.root {
  background-color: #24033b;
  width: 100vw;
  justify-content: center;

  .Header {
    position: absolute;
    text-align: center;
    top: 3rem;
    color: #e0e0e0;

    .Name {
      font-size: x-large;
      font-weight: 800;
    }

    .jobTitle {
      color: #ffc107;
      margin-top: 1rem;
      font-size: larger;
      font-weight: 800;
    }
    .bio {
      margin-top: 2rem;
      font-size: medium;
      font-weight: 600;
      max-width: 60vw;
    }
  }
}
