.root {
  background-color: #24033b;
  width: 100vw;
  justify-content: center;

  .Header {
    position: absolute;
    text-align: center;
    top: 2rem;
    color: #e0e0e0;
  }

  .footer {
    display: flex;
    position: absolute;
    align-items: center;
    height: 3em;
    bottom: 3em;
    left: 50%;
    transform: translateX(-50%);
  }
}
