.root {
  background-color: #24033b;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden;

  .Header {
    text-align: center;
    padding-top: 2rem;
    color: #e0e0e0;

    .Name {
      font-size: x-large;
      font-weight: 800;
    }

    .jobTitle {
      color: #ffc107;
      margin-top: 1rem;
      font-size: larger;
      font-weight: 800;
    }

    .bio {
      margin-top: 2rem;
      font-size: medium;
      font-weight: 600;
      width: 60vw;
      margin-left: auto;
      margin-right: auto;
    }

    .ExperienceTitle {
      margin-top: 2rem;
      font-size: larger;
      font-weight: 800;
      width: 60vw;
      margin-left: auto;
      margin-right: auto;
    }

    .SkillsTitle {
      margin-top: 2rem;
      font-size: larger;
      font-weight: 800;
      width: 60vw;
      margin-left: auto;
      margin-right: auto;
    }
  }

  // .footer {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   margin-top: auto;
  //   bottom: 0;
  //   width: 100%;
  //   height: 3em;
  // }
}
