.root {
  width: 100vw;
  height: 100vh;

  .backgroundContainer {
    background-image: url('./assets/backgroundImageMedieval.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: absolute;
  }

  .imageContainer {
    position: absolute;
    top: 30vh;
    left: 45vh;
    width: 38rem;
    height: 20rem;
    flex-direction: row;

    .cards {
      height: 20rem;
      width: 12rem;
    }
    .nextCard {
      margin-left: 1rem;
    }
  }
}
