.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .backgroundContainer {
    background-image: url('./assets/backgroundImageMedieval.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: absolute;
  }

  .imageContainer {
    position: absolute;
    width: 38rem;
    height: 20rem;
    flex-direction: row;

    .cards {
      height: 20rem;
      width: 12rem;
    }
    .nextCard {
      margin-left: 1rem;
    }
  }

  .buttonContainer {
    position: absolute;
    bottom: 4em;
  }
}
